.container.home {
  margin: 10px 0px;
  max-width : 100%;
  padding: 0;
}

.banner-left {
  height: 500px;
  background-color: white;

}

.banner-left-text {
  margin: 70px 40px;
  width: 600px;
}

.banner-right {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  height: 500px;
  position: relative;
}

.banner-right img {
  position:absolute;
  top: 150px;
  left:-120px;
}

.services {
  padding: 100px 0;
  width: 1300px;
  margin: 0 auto;
}

.about-us {
  padding: 100px 0;
  background-color: white;
}

.about-us-text {
  width: 900px;
  margin: 0 auto;
}

.services-cards {
  margin: 80px;
}

.services-cards img {
  width: 100px;
}

.services-cards-1 {
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  padding: 30px 50px;
  border-radius: 2px;
  width: 370px;
}

.services-cards-2 {
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  padding: 30px 50px;
  border-radius: 2px;
  width: 370px;
}

.services-cards-3 {
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  padding: 30px 50px;
  border-radius: 2px;
  width: 370px;
}
