.project-show {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 15% 25% 50%;
  height: 94vh;
  padding: 1rem;
  > div{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
  }
}

.project-show__header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.project-show__steps {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin-bottom: 10px;
}
.project-show__selected-step {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  margin-bottom: 10px;
  margin-right: 10px;
}
.project-show__company-info {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 16px;
}
.project-show__documents {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  margin-bottom: 10px;
}

.container-step {
  position: relative;
}

.project-cards-steps {
  border: 1px solid;
  border-color: #e6e9ef;
  border-radius: 4px;
  padding: 12px;
  width: 120px;
  height: 90px;
  font-size: smaller;
  transform: translate3d(0, 0, 0);
  align-items: center;
  display: inline-flex;
  margin: 3px;
  transition: transform .1s ease-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
  justify-content: center;
  text-align: center;
  }

  .project-cards-steps:hover {
    opacity: 1;
    background-color: #fafcff;
  }

  .project-cards-steps > .fa-solid {
    font-size: 30px;
    color: #009B9F;
    position: absolute;
    top: -20px;
    z-index: 6;
    opacity: 0.9;
  }


  .project-cards-steps > .fa-solid:hover {
    opacity: 0.4;
  }
