.project-show {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 15% 25% 50%;
  height: 94vh;
  padding: 1rem;
  > div{
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 4px;
  }
}

.project-show__header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 7px;
}
.project-show__steps {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin-bottom: 10px;
}
.project-show__manage-tasks {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  margin-bottom: 10px;
  margin-right: 10px;
}
.project-show__company-info {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.project-show__documents {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  margin-bottom: 10px;
}

.container-step {
  position: relative;
}

.project-cards-steps {
  border: 1px solid;
  border-color: #e6e9ef;
  border-radius: 4px;
  padding: 12px;
  width: 120px;
  height: 90px;
  font-size: smaller;
  transform: translate3d(0, 0, 0);
  align-items: center;
  display: inline-flex;
  margin: 10px 20px 20px 20px;
  margin-right: 20px;

  transition: transform .1s ease-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: relative;
  justify-content: center;
  text-align: center;
  }

  .project-cards-steps p {
    color:black;
  }

  .project-cards-steps:hover p {
    color: #009B9F;
  }

  .project-cards-steps.completed {
    opacity: 0.4;
  }

  .project-cards-steps:hover {
    opacity: 1;
    background-color: #fafcff;
  }

  .project-cards-steps > .fa-solid {
    font-size: 30px;
    color: #009B9F;
    position: absolute;
    top: -20px;
    z-index: 6;
    opacity: 0.9;
  }

  .project-cards-steps > .fa-solid:hover {
    opacity: 0.4;
  }

  .box-image {
    overflow: hidden;
    img {
      height: 165px;
      object-fit: cover;
    }
  }
  .name-project-show {
      font-size: 16px;
      line-height: 24px;
      font-weight: bolder;
      color: var(--main-color);
      padding: 7px;
  }

  .fa-envelope:hover {
    color: #009B9F;
  }

  .fa-pen:hover {
    color: #009B9F;
  }

  .fa-eye:hover {
    color: #009B9F;
  }
