
.team-member {
  padding: 30px;
  text-align: center;
}

.team-member > p {
  margin-bottom: 0px;
}

.team-member > span {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
}


.teams {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  &:hover {
    background-color: var(--projects-section);
    border-top-color: var(--message-box-border) !important;
  }
}

.bigpic {
  width: 50px !important;
  height: 50px !important;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }
}

.index {
  height: 70vh;
  width: 600px;
  .dark & {
    background-color:  var(--link-color-active-bg);
    color: white;
  }
}

.team-drop {
  width: 55px;
  height: 55px;
  max-width: 55px;
  max-height: 55px;
  text-align: center;
  overflow: hidden;
}

// .drop-area {
//   background-color: #F4F6FD;
//   width: 150px;

// }
.projects-section-header {
  .dark & {
    // opacity: 0;
  }
}


.projects-section-header > span {
  font-size: 15px;
  font-style: italic;
}

.list-ghost {
  opacity: .5;
  background: #F4F6FD;
}

.btn-team {
  left: 50%;
  position: absolute;
  margin-top: 15px;
}

.sortable-fallback img{
  border-radius: 50%;
}
