<!-- company info -->
<div class="project-show__company-info px-3 pt-3 pb-3">
  <div class="d-flex w-100 flex-wrap h-100"> <!-- div flex box  -->
    <div class="w-25 d-flex align-items-center">  <!-- div photos 1 -->
      <% if @project.photo.key.nil? %>
        <%= image_tag "https://res.cloudinary.com/dsc1uchot/image/upload/v1654610616/547193-immeuble-logo-logo-icon-vector-gratuit-vectoriel_kdmumi_krs3hr.jpg", crop: :fill, class: 'w-100' %>
      <% else %>
        <%= cl_image_tag @project.photo.key, crop: :fill, class: 'w-100 image' %>
      <% end %>
    </div>
    <div class="w-75 d-flex flex-column ps-3"> <!-- div Project name &co 2 -->
      <div class="h-100 py-3">
          <h2 class="box-header-company-infos pb-3">
            <%= link_to @project.company_name, @project.company_landing_page, target: "_blank"%>
          </h2>
          <div class="d-flex align-items-center justify-content-start pb-2">
            <div class="d-flex align-items-center justify-content-center pe-4">
              <i class="fa-solid fa-pen px-2" data-bs-toggle="modal" data-bs-target="#noteModalLong"></i>
              <p class="box-content-subheader mb-0">Notes</p>
            </div>
            <div class="d-flex align-items-center justify-content-center pe-4">
              <i class="fa-solid fa-file-lines px-2" data-bs-toggle="modal" data-bs-target="#exampleModalLong"></i>
              <p class="box-content-subheader mb-0">Customer form</p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <%= mail_to @project.company_email, class: "text-decoration-none px-2 text-dark" do %>
                <i class="fa-solid fa-envelope"></i>
              <% end %>
              <p class="box-content-subheader mb-0">Send an email</p>
            </div>
        </div>
        <div class="box-info-bottom d-flex flex-wrap justify-content-arround w-100 pt-2">
          <span class="badge mb-2 me-2 badge-purple">Equity partnership</span>
          <span class="badge mb-2 me-2 badge-gold">Travel tech</span>
          <span class="badge mb-2 me-2 badge-lime-green">French company</span>
          <span class="badge mb-2 me-2 badge-pink">Flipping to Delaware</span>
          <span class="badge mb-2 me-2 badge-lime-green">Two founders</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL See the document company -->
<div class="modal fade modal-doc" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Customer Form</h5>
      </div>
      <div class="modal-body">
        <embed src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654599778/customer-form_smvlyq.png" type="" height="800" width="400">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <!-- MODAL Company Note -->
<div class="modal fade modal-doc" id="noteModalLong" tabindex="-1" role="dialog" aria-labelledby="noteModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLongTitle">Company description</h5>
      </div>
      <div class="modal-body">
        Flipping refers to purchasing an asset with a short holding period with the intent of selling it for a quick profit rather than holding on for long-term appreciation <br>
        Flipping is most often used to describe short-term real estate transactions as well as the activities of some investors in initial public offerings (IPO).<br><br>
        Although these are the most common use cases in finance, flipping can be used to generally describe the purchase of an asset that is meant to be sold in the
        near term for a profit, including cars, cryptocurrencies, concert tickets, and so on.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
