<div class="container footer d-flex justify-content">
  <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/logo-violet_cavevn.png" class="w-20" alt="">
  <p>© Flipeasy, Inc. </p>
</div>
