<div id="notification" data-notification-subscription-target="container" data-controller="notification-box" data-notification-box-target="notification" data-action="click->notification-box#close">

</div>
