<div class = "container-step d-flex justify-content-around">

  <% @project.steps.each do |step| %>
    <div class="project-cards-steps <%= "completed" if step.completed? %>">
      <i class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[step.name][:icon] %>"></i>
      <p><%= step.name %></p>
    </div>
  <% end %>
</div>
