<div class = "container-step d-flex justify-content-around">

  <div class="project-cards-steps">
    <i class="fa-solid fa-hands-holding-circle"></i>
    <p> Create Project </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-circle-play"></i>
    <p> Getting Ready </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-building"></i>
    <p> U.S Corporation </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-piggy-bank"></i>
    <p> EIN & Bank Account </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-burger"></i>
    <p> Flip </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-shuttle-space"></i>
    <p> Closing </p>
  </div>

  <div class="project-cards-steps">
    <i class="fa-solid fa-paper-plane"></i>
    <p> Post-Closing </p>
  </div>
</div>
