<div class="project-show__team">
  <h2 class="name-project-show">Your Team Members</h2>

    <div class="d-flex justify-content-around">
      <% @project.users.each do |user| %>
        <div class="project-team-member"  >
          <%= cl_image_tag(user.photo.key, class: "avatar bigpic", height: 100, width: 100,  :crop=>"fill", draggable: false) %>
          <p><%= user.first_name %></p>
        </div>
      <% end %>
    </div>

</div>
