<div class = "d-flex justify-content-around">
  <div class="project-cards-steps">
    <p> Create Project </h3>
  </div>

  <div class="project-cards-steps">
    <p> Getting Ready </h3>
  </div>

  <div class="project-cards-steps">
    <p> U.S Corporation </h3>
  </div>

  <div class="project-cards-steps">
    <p> EIN & Bank Account </h3>
  </div>

  <div class="project-cards-steps">
    <p> Flip </h3>
  </div>

  <div class="project-cards-steps">
    <p> Closing </h3>
  </div>

  <div class="project-cards-steps">
    <p> Post-Closing </h3>
  </div>
</div>
