<div class="project-show__documents">
  <div class="d-flex justify-content-between">
    <div class="name-project-show">Your Files Manager</div>
    <%= link_to "Show all", "", data: {action: "click->doc-highlight#showAll"}, class: "simple-link"%>
  </div>

  <div class="quick-facts-docs d-flex justify-content-between">
    <p></p>
    <p>Comments</p>
    <p>Status</p>
    <p>File</p>
  </div>

    <% @project.documents.order(:id).each do |document| %>
      <%= render "shared/document_row", document: document %>
    <% end %>

<!-- MODAL See each documents-->
<div class="modal fade" id="docModalLong" tabindex="-1" role="dialog" aria-labelledby="docModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="docModalLongTitle">Doc name</h5>
        </div>
        <div class="modal-body">
          <embed src="" type="" height="400">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


 <%# <div class="modal-header">
          <% @project.documents.each do |doc| %>
          <%# <h5 class="modal-title" id="docModalLongTitle"> <%= doc.name </h5> %>
        <%# </div> %>
