<div class="project-show__documents">
  <% @project.documents.each do |document| %>
    <p data-doc-highlight-target="doc" data-doc-name="<%= document.name %>"> <%= document.name %></p>
  <% end %>
  <%= link_to "Show all", "", data: {action: "click->doc-highlight#showAll"}%>
</div>
