<div class="app-sidebar">
  <%= link_to(projects_path, class: 'app-sidebar-link active') do %>
      <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to(new_project_path, class: 'app-sidebar-link') do %>
      <i class="fa-solid fa-plus"></i>
  <% end %>
  <%= link_to(calendar_path, class: 'app-sidebar-link') do %>
      <i class="fa-solid fa-calendar"></i>
  <% end %>
  <a href="" class= 'app-sidebar-link mode-switch' data-action="click->night#activate" data-night-target="switch"><i class="fa-solid fa-moon "></i></a>
</div>
