<%= render "shared/navbar_home" %>

<div class="container home">
  <div class="banner">
    <div class="row mx-0">
      <div class="banner-left col-7 px-0">
        <div class="banner-left-text">
          <h1>Manage your flips seamlessly.</h1>
          <p>A tool to coordinate your team and improve your relationship with your client.</p>
          <%= link_to "Get started", projects_path, class: "btn-black" %>
        </div>
      </div>
      <div class="banner-right col-5 px-0">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/home-pic_gpvsmd.png" alt="">
      </div>
    </div>
  </div>

  <div class="services text-center">

    <h1>Features</h1>
    <p>Designed to make your life easier and flip company faster.</p>

    <div class="d-flex services-cards justify-content-between">
      <div class="services-cards-1">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/folder_y8rsku.png" alt="">
        <h3>Communication</h3>
        <p>Get live notifications and interact with your client and team.</p>
      </div>

      <div class="services-cards-2">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/umbrella_foctcl.png" alt="">
        <h3>Dashboard</h3>
        <p>Monitor your flip project status in real time and manage your team across department and timezones.</p>
      </div>

      <div class="services-cards-3">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/square_xvitx8.png" alt="">
        <h3>Document Generation</h3>
        <p>Automatically generate your transaction documents.</p>
      </div>
    </div>

  </div>

  <div class="about-us text-center d-flex">
    <div class="about-us-image">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/about-us-2_qm1ece.png" alt="">
    </div>
    <div class="about-us-text">
      <h1>About us</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid non placeat quam consequuntur voluptate eveniet cum eligendi eius tempore maiores nisi illum culpa, consectetur laboriosam? Quia qui obcaecati fugit alias?</p>
    </div>
  </div>

</div>
<%= render "shared/footer" %>
