<%= render "shared/navbar_home" %>

<div class="container home">
  <div class="banner">
    <div class="row mx-0">
      <div class="banner-left col-7 px-0">
        <div class="banner-left-text">
          <h1>Manage your flips seamlessly.</h1>
          <p>A tool to coordinate your team and improve your relationship with your client.</p>
          <%= link_to "Get started", projects_path, class: "btn-black" %>
          <div class="chevrons">
            <a href="#scroll-position">
              <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="banner-right col-5 px-0">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/home-pic_gpvsmd.png" alt="">
      </div>
    </div>
  </div>

  <div class="services text-center" id="scroll-position">

    <h1>Features</h1>

    <div class="d-flex services-cards justify-content-between">
      <div class="services-cards-1">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/folder_y8rsku.png" alt="">
        <h3>Communication</h3>
        <p>Get live notifications and interact with your client and team.</p>
      </div>

      <div class="services-cards-2">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/umbrella_foctcl.png" alt="">
        <h3>Dashboard</h3>
        <p>Monitor the status of your flip in real time and manage your team across departments and timezones.</p>
      </div>

      <div class="services-cards-3">
        <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/square_xvitx8.png" alt="">
        <h3>Document Review</h3>
        <p>Review, edit and validate transaction documents.</p>
      </div>
    </div>

  </div>

  <div class="dashboard-pictures">
    <h1>Our product</h1>
    <p>Designed to make your life easier and flip company faster.</p>
    <div class="d-flex dashboard-screenshots">
      <img class="dashboard-pic" src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654850369/development/Capture_d_e%CC%81cran_2022-06-10_a%CC%80_10.36.06_gvj4hh.png" alt="">
      <img class="dashboard-pic" src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654850361/development/Capture_d_e%CC%81cran_2022-06-10_a%CC%80_10.36.29_d4nvtl.png" alt="">
    </div>
  </div>


  <div class="about-us text-center d-flex">
    <div class="about-us-image">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263936/about-us-2_qm1ece.png" alt="">
    </div>
    <div class="about-us-text">
      <h1>About us</h1>
      <p>We are a team of developpers and lawyers obssessed with efficiency. Our ambition is to design tools for lawyers to reduce their time spent on repetitive tasks.</p>
    </div>
  </div>

  <div class="trusted-by text-center">
    <div class="trusted-by-text">
      <h1>Trusted by 55,000+ customers worldwide</h1>
    </div>
    <div class="trusted-by-logos d-flex justify-content-around">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678152/sqreen_image_p9iuuj.png" alt="">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678111/flutterwave_image_kcqoyv.jpg" alt="">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678073/algolia_hunnkq.png" alt="">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678068/razorpay_wo9owf.jpg" alt="">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678063/rappi_vyzckh.png" alt="">
      <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654678043/wave_pu4ugc.png" alt="">
    </div>
  </div>

</div>
<%= render "shared/footer" %>
