<div class="container home">

  <div class="banner">

    <div class="row">

      <div class="banner-left col-8">

        <div class="banner-left-text">
          <h1>Improve the relationship with your client doing flips.</h1>
          <a href="#" class="btn-black">Get started</a>
        </div>

      </div>

      <div class="banner-right col-4">
        <img src="" alt="">
      </div>

    </div>

  </div>

  <div class="services text-center">

    <h1>Our services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quo, incidunt quae numquam?</p>

    <div class="d-flex services-cards justify-content-between">
      <div class="services-cards-1">
        <img src="../assets/folder" alt="">
        <h3>Service 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="services-cards-2">
        <img src="../assets/umbrella" alt="">
        <h3>Service 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis.</p>
      </div>

      <div class="services-cards-3">
        <img src="../assets/square" alt="">
        <h3>Service 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>

  </div>

  <div class="about-us text-center">

    <div class="about-us-text">
      <h1>About us</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid non placeat quam consequuntur voluptate eveniet cum eligendi eius tempore maiores nisi illum culpa, consectetur laboriosam? Quia qui obcaecati fugit alias?</p>

    </div>
  </div>

</div>
