<!-- company info -->

<div class="project-show__company-info" style="background: #85586F">
  <!-- project box-->
  <div class="project-box-content-header">
    <!-- content header-->
    <h2 class="box-content-header">
      <%= project.name %>
    </h2>
    <!-- button send an email-->
    <button type="button" class="btn btn-secondary btn-sm">Send an email</button>
    <!-- tag-->
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-secondary">Secondary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-light">Light</span>
    <span class="badge badge-dark">Dark</span>
  </div>
</div>
