<%= render "shared/navbar_projects" %>
<div class="app-content">
  <%= render "shared/sidebar" %>
</div>
<div class="project-show">

  <div class="project-show__header">
    <%#= #render "" %>
  </div>
  
  <div class="project-show__steps">
    <%#= #render "" %>
  </div>

  <div class="project-show__selected-step">
    <%#= #render "" %>
  </div>

  <div class="project-show__company-info">
    <%= render "company_info", project: @project %>
  </div>

  <div class="project-show__documents">
    <%#= render "" %>
  </div>

</div>
