.badge {
  line-height: unset;
}

.badge-beige {
  background: #F8ECD1;
  color: black;
}

.badge-purple {
  background: #D9D7F1;
  color: black;
}

.badge-gold {
  background: #FFFDDE;
  color: black;
}
.badge-lime-green {
  background: #E7FBBE;
  color: black;
}
.badge-pink {
  background: #FFCBCB;
  color: black;
}
