.btn-black {
  color: white;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  background: #1E1C2D;
  transition: 0.3s ease;
  margin-top: 40px;
  font-size:18px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px solid #8CCDE5;
    &:hover {
      color: #8CCDE5;
    }
}

.btn-white {
  color: black;
  margin-top: 0px !important;
  margin-left: 10px;
  font-size: 14px !important;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 5px;
  background: white;
  border: 1px solid black;
  transition: 0.3s ease;
  margin-top: 40px;
  font-size:18px;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  &:hover {
      opacity: 0.7;
  }
}

.simple-link {
  font-size: 14px;
  color: #8288D9;
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
}

.btn-secondary-doc {
  color: black;
  background-color: white;
  border-color: white;
  font-size: 14px;
  width: 200px;
  padding-right: 10px;
  margin-right: 50px;
}

.btn-dark {
  width: 80px;
  height:28px;
  font-size: 14px;
  font-family: 'Open Sans';
  border-radius: 4px;
}

.btn-dark:hover {
  background-color: #2E8A8C;
}
