.simple_form.new_project {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,.1);
}

.project_duration {
  margin-left: 2rem;
}

.modal-doc {
  background-color: rgba(0,0,0,.4)!important;
}

.modal-content-doc {
  // width: 50vw;
}

.modal-content-doc {
  .image-container {
    height: 70vh;
    overflow: scroll;
  }
  img {
    width: 100%;
  }
  //max-width: 100%;
  // width: 109vh;
  // margin-left: 0%;
}

// .modal-embed {
//   max-width: 100%;
// }

.modal-dialog-doc {
  // max-width: 50vw;
}
